.gestion{
    .list{
        padding: 5px;
    }
    .loading{
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    @media screen and (min-width: 1200px){
        display: grid;
        grid-template-columns: auto 1fr;
    }
}