.gestion, .newBook{

    .list{
        padding: 5px;
    }
    .loading{
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    @media screen and (min-width: 1200px){
        // flex-direction: row;
        display: grid;
        grid-template-columns: 350px 1fr;
    }
    .bookForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }
}

.newBook{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px){
        flex-direction: row;

    }
}